body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #addede;
    color: #090909;
}

header {
    background-color: #e7d214;
    color: rgb(18, 17, 17);
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: rgb(33, 153, 213);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}


footer {
    background-color: #e7d214;
    color: rgb(13, 13, 13);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
